{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{{ 'component-pagination.css' | asset_url | stylesheet_tag }}


{%- if paginate.pages > 1 -%}
<div class="pagination-wrapper">
  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
  <ul class="pagination__list list-unstyled" role="list">
  {%- if paginate.previous.is_link -%}
    {%- capture previous_link_url -%}
    {%- if paginate.current_page == 2 -%}
      {%- if template contains "search" -%}
      {{ paginate.previous.url | replace: 'page=1', '' | replace: '?&', '?' | replace: '&&', '&' }}
      {%- else -%}
      {{ paginate.previous.url | replace: '?page=1', '' }}
      {%- endif -%}
    {%- else -%}
      {{ paginate.previous.url }}
    {%- endif -%}
    {%- endcapture -%}
    <li><a 
    href="{{ previous_link_url }}" title="Previous page"
    class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce"
    aria-label="{{ 'general.pagination.previous' | t }}">{% render 'icon-caret' %} <span class="visually-hidden"> Previous page</span></a></li>
  {%- endif -%}
  {%- for part in paginate.parts -%}
    {%- if part.is_link -%}
      {%- capture part_link_url -%}
      {%- if part.title == 1 -%}
        {%- if template contains "search" -%}
        {{ part.url | replace: 'page=1', '' | replace: '?&', '?' | replace: '&&', '&' }}
        {%- else -%}
        {{ part.url | replace: '?page=1', '' }}
        {%- endif -%}
      {%- else -%}
      {{ part.url }}
      {%- endif -%}
      {%- endcapture -%}
      <li><a 
      href="{{ part_link_url }}"
      class="pagination__item link"
      aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a></li>
    {%- else -%}
      {%- assign is_deco = part.title | divided_by: 1 -%}
      {%- if is_deco != part.title -%}
      <li class="deco" aria-hidden="true"><span class="visually-hidden">Page </span>{{ part.title }}</li>
      {%- else -%}
      <li class="page current" aria-current="page"> 
      {%- if part.title == paginate.current_page -%}
          <a
            role="link"
            aria-disabled="true"
            class="pagination__item pagination__item--current light"
            aria-current="page"
            aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
          >
            {{- part.title -}}
          </a>
        {%- else -%}
          <span class="pagination__item">{{ part.title }}</span>
        {%- endif -%}
      </li>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if paginate.next.is_link -%}
    <li><a 
    href="{{ paginate.next.url }}" 
    title="Next page"
    class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce"
    aria-label="{{ 'general.pagination.next' | t }}"
    > {%- render 'icon-caret' -%} <span class="visually-hidden"> Next page</span></a></li>
  {%- endif -%}
  </ul>
  </nav>
</div>
{%- endif -%}
